@using SimpleShoppingList.Models
@model SimpleShoppingList.Models.ShoppingList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ShoppingList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Meals
        </dt>

        <dd>
            <ul>
            @foreach (Meal m in Model.Meals)
            {
                <li>@m.Name</li>
            }
            </ul>
        </dd>

        <dt>
            Items
        </dt>

        <dd>
            <ul>
                @foreach (Item item in Model.Items)
            {
                    <li>@item.Name</li>
                }
            </ul>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShoppingListId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
